﻿@model http_5204_a_n01330654_passion_project.Models.Image

@{
    ViewBag.Title = "Create";
}

<h2>Share Your Image</h2>


<form method="POST" action="/Image/Create">
    <div>
        <labeL>Image Name</labeL>
        <br/>
        <input id="ImageName_New" name="ImageName_New" />
    </div>
    <div>
        <label>category</label>
        <br />
        <select id="imagecategory_new" name="imagecategory_new">
                 <option value="1">Landscape</option>
                 <option value="2">Portrait</option>
        </select>
    </div>
    <div>
        <labeL>Image Description</labeL>
        <br />
        <textarea id="ImageDescription_New" name="ImageDescription_New"></textarea>
    </div>
    <div>
        <label>Upload Image</label>
        <br />
        <input type="file" name="shareImage" id="shareImage" />
        <br />
        <br />
    </div>

    <div>
        <input type="submit" value="Share Image" />
    </div>

</form>