﻿@model http_5204_a_n01330654_passion_project.Models.Image

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create1</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
