﻿@model http_5204_a_n01330654_passion_project.Models.Image
@{ 
    ViewBag.Title = "Edit";
}


<h2>Share Your Image</h2>


<form method="POST" action="Image/Edit">
    <div>
        <labeL>Image Name</labeL>
        <input id="ImageName_New" name="ImageName_New" />
    </div>
    <div>
        <label>Category</label>
        <select id="ImageCategory_New" name="ImageCategory_New">
            @*/@foreach (var category in Model.categories)
                 //{
                //     <option value="category.CategoryID">@category.CategoryName</option>
                // }*@
        </select>
    </div>
    <div>
        <labeL>Image Description</labeL>
        <textarea id="ImageDescription_New" name="ImageDescription_New"></textarea>
    </div>
    <div>
        <labeL>Upload Image</labeL>
        <input type="file" name="shareImage" id="shareImage" />
        <br />
        <br />
    </div>

    <div>
        <input type="submit" value="Share Image" />
    </div>

</form>