﻿@model IEnumerable<http_5204_a_n01330654_passion_project.Models.Image>
@{
    ViewBag.Title = "List";
}

<div>
    <h2>Share Your Image</h2>
</div>
<div>
    @Html.ActionLink("Share Your MasterPiece", "Create", "Image")
</div>