﻿@model http_5204_a_n01330654_passion_project.Models.ViewModels.GalleryEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Create Gallery</h2>

<form method="POST" action="/Gallery/Edit/@Model.gallery.GalleryID">
    <div>
        <labeL>Gallery Name</labeL>
        <input id="GalleryName_New" name="GalleryName_New" value="@Model.gallery.GalleryName"/>
    </div>
    <div>
        <label>Category</label>
        <select id="GalleryCategory_New" name="GalleryCategory_New">
            @*/@foreach (var category in Model.categories)
                 //{
                //     <option value="category.CategoryID">@category.CategoryName</option>
                // }*@
        </select>
    </div>
    <div>
        <labeL>Gallery Description</labeL>
        <textarea id="GalleryDescription_New" name="GalleryDescription_New">@Model.gallery.GalleryDescription</textarea>
    </div>
    <div>
        <input type="submit" value="Create Gallery" />
    </div>

</form>