﻿@model IEnumerable<http_5204_a_n01330654_passion_project.Models.Gallery>
@{
    ViewBag.Title = "List";
}

<div>
    <h2>Galleries</h2>
</div>
<div>
    @Html.ActionLink("Create Gallery", "New", "Gallery")
</div>

<div>
    @foreach (var gallery in Model)
    {
        <label>@Html.ActionLink(gallery.GalleryName, "Show/" + gallery.GalleryID)</label>
        <h2>@gallery.GalleryName</h2>

        <span>
            <a href="@Url.Action("Delete/" + gallery.GalleryID)">Delete</a>
        </span>
    }
</div>





