﻿@model http_5204_a_n01330654_passion_project.Models.ViewModels.GalleryEdit
@{
    ViewBag.Title = "New";
}

<h2>Create Gallery</h2>

<form method="POST" action="/Gallery/New">
    <div>
        <labeL>Gallery Name</labeL>
        <input id="GalleryName_New" name="GalleryName_New" />
    </div>
    <div>
        <label>Category</label>
        <select id="GalleryCategory_New" name="GalleryCategory_New">
                <option value="Landscape">Landscape</option>
                <option value="Portrait">Portrait</option>
        </select>
    </div>
    <div>
        <labeL>Gallery Description</labeL>
        <textarea id="GalleryDescription_New" name="GalleryDescription_New"></textarea>
    </div>
    <div>
        <input type="submit" value="Create Gallery" />
    </div>

</form>