﻿@model http_5204_a_n01330654_passion_project.Models.Gallery
@{
    ViewBag.Title = "Show";
}

<h2>@Model.GalleryName</h2>
<div>
    @Html.ActionLink("Edit", "Edit/" + Model.GalleryID)
</div>
<p>@Model.GalleryDescription</p>


}